* {
    margin: 0;
    padding: 0px;
}

body {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: bottom;
}

nav {
    width: 100%;
    height: 62px;
    background-color: #161617;
}

.logo-wrapper {
    margin-top: -30px;
    float: left;
    padding: 6px 0px;
    position: relative;
    top: 22px;
}

nav p {
    font-family: Gill sans;
    color: #222;
    font-size: 30px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul {
    float: left;
}

nav a:hover {
    display: contents;
    color: #FC0FC0;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
    padding: 20px 30px;
}

nav ul li a {
    display: contents;
    font-family: arial;
    color: #ffffff;
    font-size: 14px;
    padding: 1px 20px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #161617;
    padding: 15px 1px;
    border-radius: 4px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 130px;
    border-radius: 4px;
    padding: 10px 8px;
}

nav ul li ul li a {
    padding: 6px 10px;
}

nav ul li ul li a:hover {
    background-color: rgb(93, 91, 91);
}

.heading {
    max-width: 968px;
    margin-left: 145px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}

.movies-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.box .box-img {
    width: 100%;
    height: 270px;
}

.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .box-img img:hover {
    transform: scale(1.1);
    transition: 1.2s all ease-in-out;
}

.box h3 {
    font-family: Arial;
    font-size: 0.9rem;
    font-weight: 500;
    color: #ddb2ebfe;
    padding-top: 13px;
}

.pagination {
    text-align: center;
    padding-top: 40px;
}

.pagination a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    font-family: Arial;
}

.pagination a.active {
    background-color: #FC0FC0;
    font-weight: bold;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #FC0FC0;
    border-radius: 5px;
}

.bottom-logo-wrapper {
    margin-left: 630px;
    position: relative;
    padding: 6px 0px;
    margin-top: 50px;
    margin-bottom: 5px;

}

.block-copyright {
    font-size: 13px;
    position: relative;
    bottom: 10px;
    color: #707070;
    margin-left: 680px;
}

.license {
    font-size: 13px;
    position: relative;
    bottom: 10px;
    color: #707070;
    margin-left: 490px;
}

.legal-age {
    font-size: 13px;
    position: relative;
    bottom: 10px;
    color: #707070;
    margin-left: 230px;
}